#!/bin/bin/env sh

eval "$(dbus-launch --sh-syntax --exit-with-session)" 

# Fix Gnome Apps Slow  Start due to failing services
# Add this when you include flatpak in your system
dbus-update-activation-environment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY

export XMODIFIERS="@im=fcitx"
export QT_IM_MODULE=fcitx
export GTK_IM_MODULE=fcitx

dunst &
fcitx -d &
setbg &
picom -b
udiskie -t &
#ibus-daemon --xim &
nm-applet &
# banish the mouse cursor when typing, show it again when the mouse moves
xbanish &
# MPD daemon start (if no other user instance exists)
xsetroot -cursor_name left_ptr &
[ ! -s ~/.config/mpd/pid  ] && mpd &
